# This rule is not used by the project barbican-operator itself.
# It is provided to allow the cluster admin to help manage permissions for users.
#
# Grants read-only access to barbican.openstack.org resources.
# This role is intended for users who need visibility into these resources
# without permissions to modify them. It is ideal for monitoring purposes and limited-access viewing.

apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  labels:
    app.kubernetes.io/name: barbican-operator
    app.kubernetes.io/managed-by: kustomize
  name: barbicanapi-viewer-role
rules:
- apiGroups:
  - barbican.openstack.org
  resources:
  - barbicanapis
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - barbican.openstack.org
  resources:
  - barbicanapis/status
  verbs:
  - get
