apiVersion: operators.coreos.com/v1alpha1
kind: ClusterServiceVersion
metadata:
  annotations:
    alm-examples: "[]"
    capabilities: Basic Install
    features.operators.openshift.io/disconnected: "true"
    features.operators.openshift.io/fips-compliant: "true"
    features.operators.openshift.io/proxy-aware: "false"
    features.operators.openshift.io/tls-profiles: "false"
    features.operators.openshift.io/token-auth-aws: "false"
    features.operators.openshift.io/token-auth-azure: "false"
    features.operators.openshift.io/token-auth-gcp: "false"
    operators.operatorframework.io/operator-type: non-standalone
  name: barbican-operator.v0.0.0
  namespace: placeholder
spec:
  apiservicedefinitions: {}
  customresourcedefinitions:
    owned:
      - description: BarbicanAPI is the Schema for the barbicanapis API
        displayName: Barbican API
        kind: BarbicanAPI
        name: barbicanapis.barbican.openstack.org
        specDescriptors:
          - description: TLS - Parameters related to the TLS
            displayName: TLS
            path: tls
        version: v1beta1
      - description: Barbican is the Schema for the barbicans API
        displayName: Barbican
        kind: Barbican
        name: barbicans.barbican.openstack.org
        specDescriptors:
          - description: TLS - Parameters related to the TLS
            displayName: TLS
            path: barbicanAPI.tls
        version: v1beta1
      - description: BarbicanWorker is the Schema for the barbicanworkers API
        displayName: Barbican Worker
        kind: BarbicanWorker
        name: barbicanworkers.barbican.openstack.org
        specDescriptors:
          - description: TLS - Parameters related to the TLS
            displayName: TLS
            path: tls
        version: v1beta1
  description: Barbican Operator
  displayName: Barbican Operator
  install:
    spec:
      deployments: null
    strategy: ""
  installModes:
    - supported: true
      type: OwnNamespace
    - supported: true
      type: SingleNamespace
    - supported: false
      type: MultiNamespace
    - supported: true
      type: AllNamespaces
  keywords:
    - OpenStack
    - KeyManager
    - Barbican
  links:
    - name: Barbican Operator
      url: https://github.com/openstack-k8s-operators/barbican-operator
  maturity: beta
  provider:
    name: Red Hat Inc.
    url: https://redhat.com/
  version: 0.0.0
