apiVersion: barbican.openstack.org/v1beta1
kind: Barbican
metadata:
  labels:
    app.kubernetes.io/name: barbican
    app.kubernetes.io/instance: barbican
    app.kubernetes.io/part-of: barbican-operator
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/created-by: barbican-operator
  name: barbican
spec:
  serviceAccount: barbican
  serviceUser: barbican
  databaseInstance: openstack
  databaseUser: barbican
  rabbitMqCusterName: barbican_rabbit
  secret: osp-secret
  passwordSelectors:
    database: BarbicanDatabasePassword
    service: BarbicanPassword
  debug:
    dbInitContainer: true
    dbSync: true
    initContainer: true
    service: true
  preserveJobs: true
  nodeSelector:
    node: controller
  customServiceConfig: |
    [DEFAULT]
    debug = True
  defaultConfigOverwrite:
    policy.json: |
      {"some": "custom policy"}
  barbicanAPI:
    containerImage: quay.io/podified-antelope-centos9/openstack-barbican-api:current-podified
    nodeSelector:
      optional_override: here
    replicas: 1
    customServiceConfig: |
      [optional]
      overrides = True
    defautlConfigOverwrite:
      optional_policy.json: |
        {"some": "custom policy"}
  barbicanWorker:
    containerImage: quay.io/podified-antelope-centos9/openstack-barbican-worker:current-podified
    nodeSelector:
      optional_override: here
    replicas: 1
    customServiceConfig: |
      [optional]
      overrides = True
    defautlConfigOverwrite:
      optional_policy.json: |
        {"some": "custom policy"}
    networkAttachments:
      - internal
